<ion-view view-title="COMMENT" class="comment-page">
	<ion-content class="monument" style="background-color: {{monument.get('mood_color')}}">
		<h1>{{monument.get('title')}}</h1>
		<div class="list">
			<div class="item" ng-repeat="comment in monument.comments">
				<p>{{comment.get('comment')}}</p>
				<span>{{formatTime(comment.get('createdAt'))}}</span>
			</div>
		</div>
    </ion-content>
	<div class="comment-footer">
		<input type="text" placeholder="Your thoughts" ng-model="user_comment">
		<button class="button icon ion-speakerphone"></button>
	</div>
</ion-view>
